.nav-link {
    font-size: 20px !important;
    border: 2px solid rgb(33, 37, 41);
    padding: 3px 15px !important;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: overline;
}

.nav-login-btn {
    text-decoration: none;
    font-size: 18px;
    padding: 4px 15px;
    border: 1px solid #fff;
    color: white;
    background-color: black;
}

.nav-login-btn:hover {
    color: #fff;
    background-color: black;
}